<h1>Login</h1>

<%- include('../../partials/flash-messages') %>

<form method="POST" action="/account/login">
    <label>Email
        <input type="email" name="email" required />
    </label>
    <label>Password
        <input type="password" name="password" required />
    </label>
    <button type="submit">Log in</button>
</form>

<p>Need an account? <a href="/register">Register</a></p>