<h1>Create an account</h1>

<%- include('../../partials/flash-messages') %>

<form method="POST" action="/account/register">
    <label>Name
        <input type="text" name="name" required />
    </label>
    <label>Email
        <input type="email" name="email" required />
    </label>
    <label>Password
        <input type="password" name="password" required />
    </label>
    <button type="submit" class="btn btn-primary">Register</button>
</form>

<p>Already have an account? <a href="/login">Log in</a></p>