<% if (flashMessages && flashMessages.length) { %>
<div class="flash-messages">
    <% flashMessages.forEach((flash) => { %>
        <div class="flash-message flash-<%= flash.type %> flash-auto-fade" data-auto-fade="true">
            <%= flash.message %>
        </div>
    <% }) %>
</div>
<% } %>