<% if (flashMessages && flashMessages.length) { %>
<div class="flash-messages">
    <% flashMessages.forEach((flash) => { %>
        <div class="flash-message flash-<%= flash.type %>">
            <span class="flash-message-text"><%= flash.message %></span>
            <button class="flash-dismiss" onclick="this.parentElement.remove()">&times;</button>
        </div>
    <% }) %>
</div>
<% } %>
