<body>
    <%- include('../partials/nav') %>

    <div class="dashboard-layout">

        <aside class="dashboard-sidebar">

        </aside>

        <main class="dashboard-main">
            <%- body %>
        </main>
    </div>
</body>